/*
.myarea,.myarea *{
	margin:0;
	padding:0;
}
*/
.myarea{
	width:100%;
	position:fixed;
	overflow:auto;
	top:72px;
	right:0;
	left:0;
	bottom:0;
	text-align:center;
}
.preview_area{
	vertical-align:top;
	width:320px;
	height:100%;
	overflow:auto;
	max-height:568px;
	border:1px solid #000;
	display:inline-block;
	margin-right:20px;
	text-align:left;
}
.preview_area,
.preview_area *{
	font: 12px/1.4 Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.preview_area .content,
.preview_area .content *{
	margin:0;
	padding:0;
}
.preview_area .content{
	width:90%;
	margin:10px auto;
}
.preview_area .content *{
	max-width:100%;
}
.preview_area .content h1{
	font-size:20px;
	padding:20px 0;
	font-weight:bold;
}
.preview_area .content p{
	font-size:14px;
	line-height:20px;
}
.preview_area .content img{
	display:block;
	margin:10px 0;
}

.content_area{
	vertical-align:top;
	width:640px;
	display:inline-block;
	text-align:left;
}
.content_area ul{
	list-style:none;
	padding:0;
	margin:0;
}
.content_area li{
	margin-bottom:20px;
	position:relative;
}
.content_area textarea{
	resize:none;
	height:200px;
}
.content_area .btn_box{
	text-align:center;
}
.content_area .btn_box a{
	margin:0 10px;
}

.thumb{
	position:absolute;
	right:0;
	top:0;
	display:none;
	width:200px;
	height:200px;
	z-index:100;
}
.thumb_li{
	padding-right:210px;
	height:200px;
}